<mat-card class="p-4">
	<mat-card-title>
		Konfiguracja Jadłospisu <span *ngIf="productsListModified" matTooltip="Niezapisane zmiany">*</span>
	</mat-card-title>
	<mat-card-actions>
		<button class="m-2" mat-raised-button color="primary" (click)="navigateBack()">
			Cofnij
		</button>
		<button mat-raised-button color="primary" (click)="saveMealPlanAsDraft()">Zapisz szkic</button>
		<button mat-raised-button *ngIf="validateMealPlan()" class="mx-2" color="primary" (click)="saveMealPlanAsDraft()">Opublikuj</button>
	</mat-card-actions>
	<mat-card-content>
		<form [formGroup]="mealPlanForm">
			<mat-form-field class="px-4" appearance="fill">
				<mat-label>Nazwa Jadłospisu</mat-label>
				<input matInput formControlName="mealPlanName">
				<mat-error>{{getErrorMessage('mealPlanName')}}</mat-error>
			</mat-form-field>

			<mat-form-field class="px-4" appearance="fill">
				<mat-label>Kalorie</mat-label>
				<input matInput type="number" formControlName="dailyCalories">
				<mat-error>{{getErrorMessage('dailyCalories')}}</mat-error>
			</mat-form-field>

			<mat-form-field class="px-4" appearance="fill" disabled>
				<mat-label>Liczba Obowiązujących Dni</mat-label>
				<input matInput value="7" readonly>
			</mat-form-field>
		</form>

		<mat-accordion multi="true">
			<ng-container *ngFor="let day of mealPlan.days">
				<ng-container *ngIf="getDaySummary(day) as dayDetails">
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title class="text-headline-small">
								<mat-icon *ngIf="!IsDayValid(day)" matTooltip="Nie wszystkie posiłki są uzupełnione" class="mr-4" style="color: rgb(253, 224, 71);" color="info">warning</mat-icon>
								Dzień {{ day.dayNumber }}
								<span class="text-title-medium ms-4">{{ dayDetails.totalCalories }} kcal,  B: {{ dayDetails.totalProteins }}g, T: {{ dayDetails.totalFats }}g, W: {{ dayDetails.totalCarbs }}g
								</span>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="flex flex-wrap">
							<ng-container class="" *ngFor="let meal of meals">
								<div class="flex-1 border-r-2 border-l-2">
									<div class="flex items-left mb-4 pt-3 justify-center border-b-2">
										<h2 class="p-2">{{ getMealTypeTranslation(meal) }}</h2>
									</div>
									<mat-list>
										<mat-list-item
											*ngFor="let mealProduct of getProductsForMeal(day.dayNumber, meal)"
											class="bg-white rounded-lg">
											<span matListItemTitle>{{mealProduct.product.name}} </span>
											<span matListItemLine class="text-label-large">B:
												{{mealProduct.product.proteins}}g / T:
												{{mealProduct.product.fats}}g / W:
												{{mealProduct.product.carbohydrates}}g </span>
											<span matListItemLine>{{mealProduct.product.kcal}} kcal</span>
											<div matListItemMeta>
												<button (click)="modifyMeal(mealProduct.guid)" mat-icon-button
													color="primary">
													<mat-icon>edit</mat-icon>
												</button>
												<button mat-icon-button (click)="removeMeal(mealProduct.guid)"
													color="primary">
													<mat-icon>delete</mat-icon>
												</button>
											</div>
											<mat-divider></mat-divider>
										</mat-list-item>
										<ng-container *ngIf="getProductsForMeal(day.dayNumber, meal).length === 0">
											<mat-list-item>
												<mat-icon matListItemIcon style="color: red" color="warn"
													class="mt-2">info</mat-icon>
												<span matListItemTitle>Brak produktów</span>
											</mat-list-item>
										</ng-container>
										<div class="example-button-container mx-2">
											<button (click)="addProductToMeal(day.dayNumber, meal)" mat-button color="primary">
												Dodaj
											</button>
											<button (click)="addExistingDishToMeal(day.dayNumber, meal)" mat-button color="primary">
												Wybierz
											</button>
										</div>
									</mat-list>
								</div>
							</ng-container>

						</div>
					</mat-expansion-panel>
				</ng-container>
			</ng-container>
		</mat-accordion>
	</mat-card-content>
</mat-card>