<mat-toolbar color="primary" class="">
  <button class="mat-sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="pb-1 h-14 w-14" src="assets/logo.png">
  <span class="text-display-small">Omniom</span>
  <span *ngIf="isAdmin$ | async" class="ms-8 text-body-medium" >Administrator</span>
  <span class="flex-auto"></span>
  <app-authentication-navbar-component></app-authentication-navbar-component>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="sidenav-links">
      <a mat-list-item routerLink="/products">Baza produktów</a>
      <a mat-list-item routerLink="/diary">Dziennik żywieniowy</a>
      <a mat-list-item routerLink="/account/settings">Profil użytkownika</a>
      <a mat-list-item routerLink="/nutritionist">Profil dietetyka</a>
      <div *ngIf="isAdmin$ | async">
        <a mat-list-item [matMenuTriggerFor]="menu">Panel Administratora</a>
        <mat-menu #menu="matMenu">
          <a mat-list-item routerLink="/nutritionist/pending-verification-requests">Wnioski do weryfikacji</a>
        </mat-menu>



      </div>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: calc(100vh - 64px);" class="p-4">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>