<div class="white shadow-lg rounded-xl h-5/6 p-2">
	<mat-form-field class="w-full">
		<mat-label>Zakres dat</mat-label>
		<mat-date-range-input [rangePicker]="dateRangePicker">
			<input matStartDate placeholder="Od" (dateChange)="dateChanged($event.value, 'start')" [value]="startDate">
			<input matEndDate placeholder="Do" (dateChange)="dateChanged($event.value, 'end')" [value]="endDate">
		</mat-date-range-input>
		<mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
		<mat-date-range-picker #dateRangePicker></mat-date-range-picker>
	</mat-form-field>

	<mat-progress-spinner class="items-center text-center m-auto" *ngIf="isLoading$ | async"
		mode="indeterminate"></mat-progress-spinner>
	<div *ngIf="!(isLoading$ | async)" class="overflow-y-auto h-5/6">
		<ng-container *ngFor="let summary of summariesFromRange$ | async">
			<app-diary-day-summary [summary]="summary"
				[isActive]="summary.nutritionDay.toString() == (selectedNutritionDay$ | async)?.toString()">
			</app-diary-day-summary>
		</ng-container>
	</div>
</div>