<mat-list *ngIf="!selectionList">
	<mat-card>
		<ng-container *ngFor="let product of products$ | async; let last = last;">
			<div class="item-container py-2">
				<mat-list-item class="bg-white rounded-lg">
					<span matListItemTitle>{{product.name}}</span>
					<span matListItemLine>{{product.portionInGrams}}g</span>
					<div matListItemMeta>
						<span class="text-label-large">{{product.kcalPer100g}} kcal / 100g</span>
						<button *ngIf="addButtonEnabled" matIconPrefix (click)="addProduct(product)" class="pt-4" mat-icon-button color="primary">
							<mat-icon class="mt-1">add</mat-icon>
						</button>
					</div>
				</mat-list-item>
				<div class="w-11/12 mx-auto" *ngIf="!last">
					<mat-divider></mat-divider>
				</div>
			</div>
		</ng-container>
	</mat-card>
</mat-list>
<div class="selection-container" *ngIf="selectionList">
	<mat-selection-list #selectedProductsList (selectionChange)="productDeselected($event)" >
		<mat-card>
			<ng-container *ngFor="let product of selectedProducts$ | async; let last = last;">
				<div class="item-container py-2">
					<mat-list-option value="{{product.guid}}" class="bg-white rounded-lg" selected>
						<span matListItemTitle>{{product.name}} </span>
						<span matListItemLine class="text-label-large">{{product.kcalPer100g}} kcal / 100g</span>
					</mat-list-option>
					<div class="w-11/12 mx-auto" *ngIf="!last">
						<mat-divider></mat-divider>
					</div>
				</div>
			</ng-container>
		</mat-card>
	</mat-selection-list>
	<mat-selection-list #notSelectedProductsList (selectionChange)="productSelected($event)">
		<mat-card>
			<ng-container *ngFor="let product of notSelectedProducts$ | async; let last = last;">
				<div class="item-container py-2">
					<mat-list-option value="{{product.guid}}" class="bg-white rounded-lg">
						<span matListItemTitle>{{product.name}}</span>
						<span matListItemLine class="text-label-large">{{product.kcalPer100g}} kcal / 100g</span>
					</mat-list-option>
					<div class="w-11/12 mx-auto" *ngIf="!last">
						<mat-divider></mat-divider>
					</div>
				</div>
			</ng-container>
		</mat-card>
	</mat-selection-list>
</div>