<div *ngIf="!(userIsRegisteredAsNutritionist$ | async)" class="flex">
	<div style="flex: 0.6">
		<app-registration-page></app-registration-page>
	</div>
</div>

<div class="flex h-72">
	<div style="flex: 0.5;">
		<app-profile-details *ngIf="userIsRegisteredAsNutritionist$ | async"></app-profile-details>
	</div>

	<div style="flex: 0.5" class="mx-8 max-h-36 h-36">
		<div class="flex-row">
			<app-meal-plans-list [mealPlans$]="mealPlans$" class="h-36 max-h-36" *ngIf="userIsRegisteredAsNutritionist$ | async"></app-meal-plans-list>
		</div>

	</div>

	<div style="flex: 0.5" class="mx-4 max-h-36 h-36">
		
</div>