table {
	width: 100%;
}

tr.detail-row {
	height: 0;
}

tr.element-row:not(.expanded-row):hover {
	background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
	background: #efefef;
}

.element-row td {
	border-bottom-width: 0;
}

.element-detail {
	overflow: hidden;
	display: flex;
}



.element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 104px;
}

.element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.element-description {
	padding: 16px;
}


.hidden-header-row {
	height: 0;
	visibility: collapse;
}

.expandedDetail {
	padding: 0 !important;
}	

.detail-row > td {
	padding: 0 !important;
}