table {
	width: 100%;
}

tr.detail-row {
	height: 0;
}

tr.element-row:not(.expanded-row):hover {
	background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
	background: #efefef;
}

.element-row td {
	border-bottom-width: 0;
}

.element-detail {
	overflow: hidden;
	display: flex;
}


.hidden-header-row {
	height: 0;
	visibility: collapse;
}

.expandedDetail {
	padding: 0 !important;
}	

.detail-row > td {
	padding: 0 !important;
}